<h5 class="mt-5 mb-5 text-center">Cadastrar computador</h5>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-2 form-group">
          <label for="exampleFormControlInput1" class="form-label">Marca</label>
          <input type="text" class="form-control" id="marca" name="marca" ngModel>
        </div>
        <div class="mb-2 form-group">
          <label for="exampleFormControlInput1" class="form-label">Marca do HD</label>
          <input type="text" class="form-control" id="marcaHd" name="marcaHd" ngModel>
        </div>
        <div class="mb-2 form-group">
          <label for="exampleFormControlInput1" class="form-label">Velocidade do processador</label>
          <input type="text" class="form-control" id="velProcessador" name="velProcessador" ngModel>
        </div>
      </div>
      <div class="col">
        <div class="mb-2 form-group">
          <label for="exampleFormControlInput1" class="form-label">Modelo</label>
          <input type="text" class="form-control" id="modelo" name="modelo" ngModel>
        </div>
        <div class="mb-2 form-group">
          <label for="exampleFormControlInput1" class="form-label">Tamanho do HD</label>
          <input type="text" class="form-control" id="hd" name="hd" ngModel>
        </div>
        <div class="mb-2 form-group">
          <label for="exampleFormControlInput1" class="form-label">Placa-mãe</label>
          <input type="text" class="form-control" id="placaMae" name="placaMae" ngModel>
        </div>

      </div>
      <div>
        <label for="exampleFormControlInput1" class="form-label">Foto</label>
        <input type="text" class="form-control" id="foto" name="foto" ngModel>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </div>
  </div>
</form>